{% extends 'index.html' %}
{% from 'form_helpers.html' import render_form_field %}

{% block content %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('base.home') }}">Home</a></li>
    <li class="breadcrumb-item active">
       Change Password
    </li>
  </ol>
</nav>

<div class="row mt-4">
  <div class="col-12 col-sm-12 col-md-8 col-lg-8 m-auto">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom py-2">Change Your Password</h5>
        <div class="card-text">
          <form method="post" action="">
            {{ form.hidden_tag() }}

            {{ render_form_field(form.old_password, id='old_password') }}
            {{ render_form_field(form.new_password, id='new_password') }}
            {{ render_form_field(form.new_password_confirm, id='new_password_confirm') }}
            <div class="border-bottom my-3"></div>

            <button type="button" class="btn btn-primary w-100" 
              data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            >
              Change Password
            </button>

          <div class="modal fade" id="staticBackdrop" 
            data-bs-backdrop="static" data-bs-keyboard="false" 
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Sure to change your password?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </div>
            </div>
          </div>


          </form>
        </div>
      </div>
    </div>
  <div>
</div>

{% endblock content %}

