{% extends 'staff/base.html' %}
{% from 'form_helpers.html' import render_form_field %}

{% block staff_content %}

<div class='card pb-0'>
  <div class='card-body p-3'>
    <h5 class="card-title border-bottom text-center poppins-medium pb-3">
      Add New Lesson
    </h5>

    <form method='post' action=''>
      {{ form.hidden_tag() }}

      {{ render_form_field(form.name, id='add_new_course__name') }}

      <div class='mb-3'>
        {{ form.content.label() }}
        {{ form.content() }}
      </div>
        <div class="border-bottom my-3"></div>
        {{ form.submit(class='btn btn-primary w-100') }}
    </form>
  </div>
</div>
{% endblock staff_content %}

