{% extends 'staff/base.html' %}
{% from 'form_helpers.html' import render_form_select %}

{% block staff_content %}

<div class='card pb-0'>
  <div class='card-body p-3'>
    <h5 class="card-title border-bottom text-center poppins-medium pb-3">
      Assign User To A Course
    </h5>

    <form method='post' action=''>
        {{ form.hidden_tag() }}

        <div class="mb-3">
          <label for="course">Course</label>
          <input type="text" class="form-control readonly" value="{{course.name}}" readonly>
        </div>

        {{ render_form_select(form.user, id='assign_course_user__course') }}

        <div class="border-bottom my-3"></div>
        {{ form.submit(class='btn btn-primary w-100') }}
    </form>
  </div>
</div>
{% endblock staff_content %}

