{% extends 'admin/base.html' %}
{% from 'form_helpers.html' import render_form_check, render_form_select %}

{% block admin_content %}

<div class="row">
  <div class="m-auto col-12 col-sm-12 col-md-8 col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title border-bottom text-center poppins-medium pb-3">
          Assign User Permissions
        </h4>
        <form method='post', action="">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            <label for="assign_permissions__fullname" class='form-control-label'>User</label>
            <input 
              type="text" name="" value="{{ user.fullname }}" 
              id='assign_permissions__fullname' class='form-control' readonly />
          </div>
          
          <div class="mb-3">
            <label for="assign_permissions__permissions" class='form-control-label'>Permissions</label>
            <div class="border rounded p-2">
              {% if user_permissions %}
                {% for perm in user_permissions %}
                  <span class="badge bg-secondary me-1">{{perm.name}}</span>
                {% endfor %}
              </div>
              {% else %}
                No Permissions Assigned Yet.
              {% endif %}
          </div>

          {{ render_form_select(form.permission, id='permission') }}

          <div class="border-bottom my-3"></div>
          {{ form.submit(class='btn btn-primary w-100') }}
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock admin_content %}


